.navMain {
    display: flex;
    align-items: center;
    ul {
        display: flex;
        margin-right: 40px;
        li {
            color: white;
            margin-right: 40px;
            font-size: 20px;
            a {
                color: white;
            }
        }
        a:hover {
            color: #AC9FBB;
            transition: ease-in-out 0.5s;
        }
    }
    form {
        display: flex;
        input {
            border: none;
            border-radius: 5px 0px 0px 5px;
            padding: 3px;
        }
        button {
            border: none;
            border-radius: 0px 7px 7px 0px;
        img {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
    }
}

@media (max-width: 768px) {
    .navMain {
        ul {
            li {
                font-size: 10px;
                margin-top: -10px;
            }
        }
        form {
            display: none;
        }
    }
}